.box {
    font-size: 0;
}
.box-el {
    font-size: 1rem;
    width: 33.3333%;
    height: 250px;
    background: blue;
    display: inline-block;
    vertical-align: top;
    outline: 1px solid #fff;
}